@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 :root {
    /* warna */
    --white: #F1F5F9;
    --green: #10B981;
    --green-dark: #0c9c6c;
    --black: #1E293B;
    --light-black: #64748B;
    --red: #F87171;
    --light-white: #E5E5E5;
    --yellow: rgb(241, 237, 2);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-size: 14px;
}

button {
    border: none;
    outline: none;
    background-color: inherit;
}

input {
    border: none;
    outline: none;
}

.wrapper-content {
    margin-top: 6em;
    display: flex;
    justify-content: center;
}

.wrapper-content .wrapper {
    width: 1200px;
}

@media (max-width: 1400px) {
    .wrapper-content .wrapper {
        width: 95%;
    }
}